*{
    margin:0;
    box-sizing:border-box;
    padding:0;
}
body{
    background-color:white;
    margin: 0;
    padding: 0;
}
nav{
    position:fixed;
    z-index:5;
    top:0;
    width:100%;
    box-shadow: 1px 2px 8px 32px black;
}
nav .talen{
    position:relative;
    font-size:15px;
    color:black;
    font-family:'Montserrat', sans-serif;
    background-color:#E1E2E2;
    width:100%;
    padding-right:60px;
    text-align:right;
    border-bottom:2px solid #CFCFCF;
    z-index:3;
    box-shadow: 3px 2px 5px 1px #CFCFCF;
}
.talen a{
    text-decoration:none;
    color:#404040;
}
.talen .talenTxt{
    padding-right:20px;
}
.talen .talenTxt:hover{
    text-decoration:underline;
}
nav .talen li{
    padding-top:4px;
    padding-bottom:2px;
    padding-right:8px;
    display:inline-block;
}
 nav .talen img{
     height:15px;
}
 nav .ulLinks{
     box-shadow: 3px 2px 8px 18px #1C1C1C;
     z-index:2;
     width:100%;
    text-align:center;
    background-color:white;
    padding-top:20px;
     padding-bottom:15px;
     border-bottom:20px solid #547060;

}
 nav .ulLinks li{
    list-style-type:none;
    display:inline-block;
}
.ulLinks li .txt{
    vertical-align:middle;
    padding-left:15px;
    padding-right:5px;
    font-weight:500;
    font-size:17px;
    text-decoration:none;
    color:#1C1C1C;
    font-family:'Montserrat', sans-serif;
}
.ulLinks li .txt:hover{
    color:#FFCD00;
}
.txt i{
    font-size:18px;
    padding-left:5px;
    padding-right:15px;
}
.drp-title{
    outline: 3px solid #45594E;
    padding:5px 15px 5px 15px;
    background-color:#547060;
    right:0;
    width:100%;
    text-align:center;
    color:white;
    font-size:28px;
    text-decoration:none;
    font-weight:600;
    position:absolute;
    top:20px;
}
.drp-title p{
    transition:transform 0.2s ease;
}
.drp-title p:hover{
    transform:scale(0.9);
}
.dropdown-content1, .dropdown-content2, .dropdown-content3, .dropdown-content4 {
    border-right:15px solid #45594E;
    font-family:'Montserrat', sans-serif;
    border-left:15px solid #45594E;
    width:800px;
    height:500px;
    display: none;
    position: absolute;
    background-color:white;
    z-index: 4;
    box-shadow: 3px 2px 8px 1px #1C1C1C;
}
.dropdown-content3 {
    right:440px;
}
.dropdown-content4 {
    right:190px;
}
.dropdown-content1 .drp-h1{
    text-decoration:none;
    padding-top:15px;
    padding-bottom:15px;
    display:block;
    color:#404040;
    font-weight:600;
    font-family:'Montserrat', sans-serif;
    font-size:20px;
}
.dropdown-content1 .drp-text:hover{
    color:#FFCD00;
}

.dropdown-content1 .drp-h1:hover{
    text-decoration-line:underline;
}
.dropdown-content1 .col1{
    position:absolute;
    top:16%;
    text-align:left;
    float:left;
    padding-left:100px;
    width:50%;
}
.dropdown-content1 .col2{
    padding-left:40px;
    position:absolute;
    top:16%;
    text-align:left;
    width:50%;
    right:0;
}
.dropdown-content1 .drp-text{
    font-family:'Montserrat', sans-serif;
    text-decoration:none;
    font-size:16px;
    padding-bottom:15px;
    display:block;
    color:#1C1C1C;
    font-weight:400;
}
.dropdown:hover .dropdown-content1 {
    display: block;
}
.dropdown:hover .dropdown-content2 {
    display: block;
}
.dropdown:hover .dropdown-content3 {
    display: block;
}
.dropdown:hover .dropdown-content4 {
    display: block;
}
.fa-shopping-cart{
    margin-left:15px;
    background-color:#45594E;
    padding:12px 12px 10px 10px;
    color:white;
    border-radius:90px;
}
.fa-shopping-cart:hover{
    background-color:#292E2B;
}
.links a{
    padding-top:10px;
    text-decoration:none;
}
.fa-user{
    border-radius:90px;
    background-color:#45594E;
    padding:10px 12px 10px 12px;
    color:white;
}
.fa-user:hover{
    background-color:#292E2B;
}
.links{
    margin-left:30px;
    margin-right:30px;
}
.links i{
    font-size:20px;
}
 .ulLinks li img{
    vertical-align:middle;
    padding-right:40px;
     padding-bottom:10px;
    width:215px;
    height:auto;
}
.touw{
    position:absolute;
    top:118px;
    width:100%;
    z-index:3;
    height:83px;

}
.imgheader1, .imgheader2{
    position:relative;
    display:inline-block;
    width:50%;
    margin-top:155px;
    vertical-align:top;
}
header img{
    height:auto;
    width:100%;
    z-index:1;

}
.overlay1, .overlay2{
    padding-left:50px;
    opacity:0;
    width:100%;
    height:100%;
    left:0;
    top:0;
    right:0;
    background-color:rgba(0,0,0, 0.4);
    position:absolute;
    z-index:2;
    font-family:'Montserrat', sans-serif;
}
.ovlTxt{
    padding:10px;
    color:white;
    width:70%;
    top:38%;
    vertical-align:middle;
    position:absolute;
}
.overlay1 p, .overlay2 p{
    text-decoration:none;
    font-size:19px;
}

.overlay1 h1, .overlay2 h1{
    font-size:25px;
    text-decoration:none;
    font-weight:600;
}

.imgheader1:hover  .overlay1{
    opacity:1;
    transition: .5s ease;
}
.imgheader2:hover  .overlay2{
    opacity:1;
    transition: .5s ease;
}
.imgheader1:hover ~ .headertxt{
    transform: translate(90%, 0);
}
.imgheader2:hover ~ .headertxt{
    transform: translate(-90%, 0);
}
header{
    position:relative;
    width:100%;
}
.headertxt{
    transition: transform 0.5s ease-out;
    border-radius:10px;
    font-family:'Montserrat', sans-serif;
    padding:10px 10px 40px 10px;
    z-index:2;
    position:absolute;
    width:30%;
    top:38%;
    left:35%;
    text-align:center;
    background-color:rgba(225,225,225,0.9);
    box-shadow: 3px 2px 8px 1px #1C1C1C;
}
.headertxt h1{
    width:100%;
    font-size:31px;
    padding-bottom:10px;
    padding-top:15px;
}
.headertxt p{
    font-weight:500;
    width:100%;
    padding-top:6px;
    padding-bottom:6px;
    font-size:20px;

}
.headertxt i{
    color:#009D57;
    padding-left:5px;
}
.bar{
    border-top:5px solid black;
    height:100px;
    background-image:url("img/bckg.png");
    text-align:center;
    width:100%;
    font-family:'Montserrat', sans-serif;
    color:#1C1C1C;
    z-index:2;
    box-shadow: 1px 2px 10px 3px #1C1C1C;
    margin-top:-5px;
}
.bar input[type=text]{
    border:1px solid #1C1C1C;
    padding:5px;
    border-right:none;
    border-radius:10px 0 0 10px;
    text-align:center;
    font-size:20px;
    margin-top:25px;
    width:650px;
    height:40px;
    background-color:white;
    box-shadow: 5px 2px 8px 1px #1C1C1C;
}
.bar button{
    color:#009D57;
    font-size:20px;
    border:1px solid #1C1C1C;
    cursor:pointer;
    height:40px;
    padding:5px 10px 5px 10px;
    border-radius:0 10px 10px 0;
    border-left:none;
    background-color:white;
    box-shadow: 5px 2px 8px 1px #1C1C1C;
}
.slider{
    margin-right:150px;
    margin-top:60px;
    border:10px solid #547060;
    outline:2px solid #45594E;
    height:auto;
    position:relative;
    z-index:2;
    width:700px;
    background-color:white;
    box-shadow: 1px 2px 8px 3px #1C1C1C;
    display:inline-block;
    vertical-align:middle;
}
.slider a{
    padding: 10px;
    text-decoration:none;
    transition: transform .2s;
}
.slider img{
    margin:0 auto;
    padding-top:20px;
    width:60%;
    height:auto;
}
.slider a:hover{
    transform:scale(1.1);
}
.slider p{
    margin-bottom:10px;
    font-size:20px;
    padding-top:15px;
    text-align:center;
    color:black;
    font-family:'Montserrat', sans-serif;

}
.slick-prev, .slick-next {
    height: 15px;
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    bottom: 0;
}

.fa-angle-left {
    cursor:pointer;
    position:absolute;
    left: 0;
    font-size:25px;
    top:50%;
    padding-left:10px;
}
.fa-angle-right {
    padding-right:10px;
    cursor:pointer;
    font-size:25px;
    top:50%;
    position:absolute;
    right: 0;
}
.slider_section{
    position:relative;
    text-align:center;
    z-index:1;
    background-color:rgba(255,205,0, 0.2);
    height:500px;
    width:100%;
}
.voeradviesImg{
    margin-left:50px;
    margin-top:60px;
    border:10px solid #547060;
    outline:2px solid #45594E;
    vertical-align:top;
    z-index:2;
    width:458px;
    position:relative;
    display:inline-block;
    box-shadow: 1px 2px 8px 3px #1C1C1C;
}
.voeradviesImg img{
    height:auto;
    width:100%;
    margin-bottom:-5px;
    border:20px solid white;
    outline:2px solid white;
}
.bar2{
    z-index:1;
    box-shadow: 1px 2px 8px 3px gray;
    background-color:white;
    width:100%;
    border-bottom:10px solid #547060;
    position:relative;
}
.barDiv{
    color:#1C1C1C;
    padding:15px;
    font-family:'Montserrat', sans-serif;
    text-align:center;
    margin:0 auto;
}
.barDiv h1,select{
    display:inline;
}
.barDiv h1,.barDiv i{
    vertical-align:middle;
    font-size:30px;
    padding-left:8px;
}
.barDiv i{
    color:#009D57;
    margin-right:50px;
}
.barDiv select{
    text-align:center;
    color:#292E2B;
    vertical-align:middle;
    height:35px;
    margin-right:10px;
    padding:3px;
    font-size:18px;
    border-radius:5px;
    border:none;
    box-shadow: 1px 2px 8px 1px gray;
    cursor:pointer;
}
.barDiv input[type=text]{
    text-align:center;
    margin-right:30px;
    padding:3px;
    font-size:15px;
    width:200px;
    height:35px;
    border-radius:5px;
    box-shadow: 1px 2px 8px 1px gray;
    border:none;

}
.barDiv button{
    vertical-align:middle;
    border:none;
    cursor:pointer;
    box-shadow: 1px 2px 5px 1px gray;
    border-radius:10px;
    font-size:20px;
    padding:3px 7px 3px 7px;
    background-color:#FFCD00;
    color:white;
}
.columns{
    z-index:2;
    font-size:15px;
    background-image:url("img/bckg.png");
    font-family:'Montserrat', sans-serif;
    height:100%;
    padding-top:70px;
    text-align:center;
    position:relative;
    width:100%;
    padding-bottom:70px;
}
.columns .hartogCol1{
    height:600px;
    border:10px solid #547060;
    outline:2px solid #45594E;
    z-index:2;
    transition: transform .2s;
    background-color:white;
    padding:20px;
    box-shadow: 1px 2px 8px 1px #1C1C1C;
    text-align:left;
    vertical-align:top;
    margin-right:20px;
    display:inline-block;
    position:relative;
    width:500px;
}
.columns .hartogCol1:hover{
    transform:scale(1.1);
}

.columns .hartogCol2:hover{
    transform:scale(1.1);
}

.columns .hartogCol3:hover{
    transform:scale(1.1);
}

.columns .hartogCol1 p, .hartogCol3 p{
    font-weight:500;
    padding-top:20px;
    vertical-align:top;
    display:inline-block;
    width:50%;
    padding-right:20px;
    padding-bottom:20px;
}
.columns .hartogCol2 p{
    font-weight:500;
    width:80%;
    padding-top:20px;
}
.columns h1{
    padding-top:20px;
    font-size:20px;
}
.columns .hartogCol2{
    border:10px solid #547060;
    outline:2px solid #45594E;
    transition: transform .2s;
    text-align:left;
    padding:20px;
    background-color:white;
    height:600px;
    box-shadow: 1px 2px 8px 1px #1C1C1C;
    vertical-align:top;
    margin-left:20px;
    margin-right:20px;
    display:inline-block;
    width:300px;
    position:relative;
}
.columns .hartogCol1 img, .hartogCol3 img{
    width:440px;
}

.columns .hartogCol3{
    border:10px solid #547060;
    outline:2px solid #45594E;
    transition: transform .2s;
    text-align:left;
    background-color:white;
    padding:20px;
    height:600px;
    box-shadow: 1px 2px 8px 1px #1C1C1C;
    vertical-align:top;
    margin-left:20px;
    display:inline-block;
    position:relative;
    width:500px;
}
.columns a{
    text-decoration:none;
    color:#1C1C1C;
}
footer{
    position:relative;
    text-align:center;
    width:100%;
    height:700px;
    padding-top:70px;
    font-family:'Montserrat', sans-serif;
    bottom:0;
    background-color:#E1E2E2;
}
.ftr-text,.ftrH1{
    width:100%;
    text-align:left;
    color:black;
    text-decoration:none;
    display:block;
}
.ftr-text{
    font-weight:400;
    padding-bottom:5px;
    padding-top:5px;
    font-size:17px;
}
 a.ftr-text:hover{
    color:#FFCD00;
}
.ftrH1{
    padding-top:10px;
    padding-bottom:5px;
    font-weight:500;
    font-size:22px;
}
a.ftrH1:hover{
    text-decoration:underline;
}
.footerCol1,.footerCol2,.footerCol3,.footerCol4,.footerCol5{
    height:180px;
    position:relative;
}
.ftrRow1,.ftrRow2, .footerCol5,.footerCol6{
    display:inline-block;
    vertical-align:top;
    margin-right:20px;
    margin-left:50px;
}
.footerCol2, .footerCol4{
    margin-top:70px;
}
.footerCol6 i{
    padding-right:10px;
}
.bottom{
    box-shadow: 1px 2px 5px 2px #1C1C1C;
    padding:25px;
    margin-top:40px;
    left:0;
    position:absolute;
    bottom:0;
    background-color:white;
    width:100%;
    display:inline-block;
}
.bottom a{
    font-size:15px;
    text-decoration:none;
    color:black;
    padding-right:15px;
    padding-left:15px;
}
.bottom a:hover{
    text-decoration:underline;
}